<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Django Webpage View 1</title>
</head>
<body>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in sem elit. Aenean ut faucibus elit, a pellentesque felis. Nunc eu purus a metus pretium finibus et sed lacus. Curabitur condimentum, velit nec suscipit ultrices, ante ipsum pellentesque ante, eget placerat turpis nunc eleifend elit.</p>
</body>
</html>